<.flash_group flash={@flash} />

<%= if @current_account do %>
  <.link href={~p"/"} class="ml-2 hover:underline">Rooms</.link>
<% else %>
  <ul class="ml-2">
    <li class="hover:underline">
      <.link href={~p"/accounts/log_in"}>Log in</.link>
    </li>
    <li class="hover:underline">
      <.link href={~p"/accounts/register"}>Register</.link>
    </li>
  </ul>
<% end %>
